<table class="table">
  <thead>
    <tr>
      <th>
        Observers
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each observer in sortedObservers itemController="observer"}}
    <tr>
      <td>
        {{#if observer.isInputObserver}}
          {{#link-to "inputObserver" observer}}{{observer.title}}{{/link-to}}
        {{else}}
          {{#link-to "parameterObserver" observer}}{{observer.title}}{{/link-to}}
        {{/if}}
        <div class="stromx-buttons">
          {{#if observer.isInputObserver}}
            {{#link-to "inputObserver.delete" observer}}
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            {{/link-to}}
          {{else}}
            {{#link-to "parameterObserver.delete" observer}}
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            {{/link-to}}
          {{/if}}
          <a {{action "moveUp"}}>
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
          </a>
          <a {{action "moveDown"}}>
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
          </a>
        </div>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
