<h1>Stream</h1>
<div class="stromx-center-buttons">
  {{#if active}}   
    {{#if paused}}   
      <div class="btn-group">
        <button type="button" {{action "resume" }} class="btn btn-default">Resume</button>
        <button type="button" {{action "stop"}} class="btn btn-default">Stop</button>
      </div>
    {{else}}     
      <div class="btn-group">
        <button type="button" {{action "pause"}} class="btn btn-default">Pause</button>
        <button type="button" {{action "stop"}} class="btn btn-default">Stop</button>
      </div>
    {{/if}}
  {{else}}     
    <div class="btn-group">
      <button type="button" {{action "start"}} class="btn btn-default">Start</button>
      <button type="button" {{action "close"}} class="btn btn-default">Close</button>
    </div>
  {{/if}}
</div>

{{view App.SceneView}}

<table class="table">
  <thead>
    <tr>
      <th>Operator</th>
      <th>Type</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each operators itemController="operator"}}
      <tr>
        <td>
          {{name}}
        </td>
        <td>
          {{fullType}}
        </td>
        <td>
          {{#link-to 'operator' this type="button" class="btn btn-default btn-xs"}}Show{{/link-to}}
        </td>
      </tr>
    </tr>
    {{/each}}
  </tbody>
</table>