<h1>View</h1>

<div class="stromx-view-view panel panel-default">
  <svg width="1280" height="1024" id="view-svg">
  </svg>
</div>

{{#each parameterObservers itemController="parameterObserver"}}
{{/each}}

{{#each connectorObservers itemController="connectorObserver"}}
  {{view-connector-observer connectorObserver=this}}
{{/each}}

<table class="table">
  <thead>
    <tr>
      <th>
        Observer
      </th>
      <th>
        Visualization
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each parameterObservers itemController="parameterObserver"}}
    <tr>
      <td>
        {{title}}
      </td>
      <td>
        {{visualizationLabel}}
      </td>
    </tr>
    {{/each}}
    {{#each connectorObservers itemController="connectorObserver"}}
    <tr>
      <td>
        {{title}}
      </td>
      <td>
        {{visualizationLabel}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
