<h1>View</h1>

<div class="stromx-center-buttons">
  <div class="btn-group">
    {{#link-to 'view.newObserver' type="button" class="btn btn-default"}}New Observer{{/link-to}}
  </div>
</div>

{{outlet}}

<div class="stromx-view-view panel panel-default">
  <svg width="1280" height="1024" id="view-svg">
  </svg>
</div>

{{#each parameterObservers itemController="parameterObserver"}}
{{/each}}

{{#each connectorObservers itemController="connectorObserver"}}
  {{view-connector-observer connectorObserver=this}}
{{/each}}

<table class="table">
  <thead>
    <tr>
      <th>
        Observer
      </th>
      <th>
        Visualization
      </th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each sortedObservers itemController="observer"}}
    <tr>
      <td>
        {{title}}
      </td>
      <td>
        {{visualizationLabel}}
      </td>
      <td>
        <button type="button" {{action "moveUp"}} class="btn btn-default btn-xs">Up</button>
        <button type="button" {{action "moveDown"}} class="btn btn-default btn-xs">Down</button>
     </td>
    </tr>
    {{/each}}
  </tbody>
</table>
