<div class="container">
  {{outlet}}

  {{#if length}}
  <div class="well">
    {{#each error in this itemController="error"}}
      <p>{{error.time}}: {{error.model.description}}</p>
    {{/each}}
  </div>
  <button {{action "clearErrors"}} class="btn btn-default pull-left">Clear Errors</button>
  {{/if}}
</div>

{{outlet "context"}}
