<div class="container">
  {{outlet}}

  {{#if length}}
  <div class="well">
    {{#each itemController="error"}}
      <p>{{time}}: {{description}}</p>
    {{/each}}
  </div>
  <button {{action "clearErrors"}} class="btn btn-default btn-xs pull-left">Clear Errors</button>
  {{/if}}
</div>

{{outlet "context"}}