<ol class="breadcrumb">
  <li>{{#link-to "stream" stream}}{{stream.file.name}}{{/link-to}}</li>
  <li>{{title}}</li>
</ol>

<h3>
  Connection
  {{#link-to "connection.delete"}}
    <span class="glyphicon glyphicon-trash pull-right stromx-link-icon" aria-hidden="true"></span>
  {{/link-to}}
</h3>

<table class="table">
  <tbody>
    <tr>
      <td>
        <header class="stromx-cell-title">Thread</header>
        {{#unless isEditingThread}}
          {{#color-box color=color}}{{/color-box}}
          {{threadName}}
          <a {{action "editThread"}}>
            <span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span>
          </a>
        {{else}}
          <form class="form-inline">
            {{#color-box color=selectedThread.color}}{{/color-box}}
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Choose thread<span class="caret"></span>
              </button>
              <ul class="dropdown-menu color-menu" role="menu">
                {{#each thread in threads}}
                  <li><a {{action "setThread" thread}}>{{thread.name}}</a></li>
                {{/each}}
              </ul>
            </div>
            <div class="form-group">
              <button {{action "discardChanges"}} class="btn btn-default">Cancel</button>
              <button {{action "saveChanges"}} class="btn btn-primary">Save</button>
            </div>
          </form>
        {{/unless}}
      </td>
    </tr>
  </tbody>
</table>

{{outlet}}
