<ol class="breadcrumb">
  <li>{{#link-to "stream" stream}}{{model.stream.file.name}}{{/link-to}}</li>
  <li>{{title}}</li>
</ol>

<h3>
  Connection
  {{#link-to "connection.delete" class="stromx-delete-connection"}}
    <span class="glyphicon glyphicon-trash pull-right stromx-link-icon" aria-hidden="true"></span>
  {{/link-to}}
</h3>

<table class="table">
  <tbody>
    <tr>
      <td>
        <header class="stromx-cell-title">Thread</header>
        {{color-box color=color}}
        {{thread}}
      </td>
    </tr>
  </tbody>
</table>

{{outlet}}
