<h1>Files</h1>

<div class="stromx-center-buttons">
  <div class="btn-group">
    {{#link-to 'files.new' type="button" class="btn btn-default"}}New File{{/link-to}}
    {{#link-to 'files.upload' type="button" class="btn btn-default"}}Upload File{{/link-to}}
  </div>
</div>

{{outlet}}

<table class="table">
  <tbody>
    {{#each file in this itemController="file"}}
      <tr>
        <td>
          {{#unless file.isEditing}}
            {{#if file.closed}}
              <span class="stromx-status-indicator closed" data-toggle="tooltip" title="Opened"/>
            {{else}}
              <span class="stromx-status-indicator opened" data-toggle="tooltip" title="Closed"/>
            {{/if}}
            {{#if file.closed}}
              <a {{action "open" file}}>{{file.name}}</a>
            {{else}}
              {{#link-to 'stream' file.stream}}{{file.name}}{{/link-to}}
            {{/if}}
            <a {{action "edit" file}} class="stromx-rename-file">
              <span class="glyphicon glyphicon-pencil pull-right stromx-space" aria-hidden="true"></span>
            </a>
            <a {{bind-attr href=file.url}} download>
              <span class="glyphicon glyphicon-download-alt pull-right stromx-space" aria-hidden="true"></span>
            </a>
            {{#if file.closed}}
              {{#link-to 'file.delete' file type="button" class="stromx-delete-file"}}
                <span class="glyphicon glyphicon-trash pull-right stromx-space" aria-hidden="true"></span>
              {{/link-to}}
            {{/if}}
          {{else}}
            <form class="form-inline">
              <div class="form-group">
                <label class="sr-only" for="file-name">Name</label>
                {{input value=file.name class="form-control" id="file-name"}}
              </div>
              <div class="form-group">
                <button {{action "discardChanges"}} class="btn btn-default">Cancel</button>
                <button {{action "saveChanges"}} class="btn btn-primary">Save</button>
              </div>
            </form>
          {{/unless}}
        </td>
      </tr>
    </tr>
    {{/each}}
  </tbody>
</table>
