<h1>Files</h1>

<div class="stromx-center-buttons">
  <div class="btn-group">
    {{#link-to 'files.new' type="button" class="btn btn-default"}}New File{{/link-to}}
    {{#link-to 'files.upload' type="button" class="btn btn-default"}}Upload File{{/link-to}}
  </div>
</div>

{{outlet}}

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each file in this itemController="file"}}
      <tr>
        <td>
          {{#unless file.isEditing}}
            {{#if file.closed}}
              <span class="status-indicator closed" data-toggle="tooltip" title="Opened"/>
            {{else}}
              <span class="status-indicator opened" data-toggle="tooltip" title="Closed"/>
            {{/if}}
            <div class="stromx-file-name">
              {{#if file.closed}}
                <a {{action "open" file}}>{{file.name}}</a>
              {{else}}
                {{#link-to 'stream' file.stream}}{{file.name}}{{/link-to}}
              {{/if}}
            </div>
          {{else}}
            {{focus-input value=file.name class="edit" focus-out="saveChanges" insert-newline="saveChanges" escape-up="discardChanges"}}
          {{/unless}}
        </td>
        <td class="stromx-button-column">
          <button {{action "edit" file}} class="btn btn-default btn-xs stromx-rename-file">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          </button>
          <button {{bind-attr href=file.url}} download class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
          </button>
          {{#if file.closed}}
            {{#link-to 'file.delete' file type="button" class="btn btn-default btn-xs stromx-delete-file"}}
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            {{/link-to}}
          {{/if}}
        </td>
      </tr>
    </tr>
    {{/each}}
  </tbody>
</table>
