<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://www.stromx.org">
        <img alt="stromx-logo" src="assets/logo.png">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>{{#link-to 'files.new'}}New File{{/link-to}}</li>
        <li>{{#link-to 'files.upload'}}Upload File{{/link-to}}</li>
      </ul>
      <p class="navbar-text navbar-right"><a href="auth/logout" class="navbar-link">Log out</a></p>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="row">
  <div class="col-sm-2"></div>

  <div class="col-sm-8">
    {{outlet}}
    <table class="table">
      <thead>
        <tr>
          <th>
            Files
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each file in this itemController="file"}}
          <tr class="stromx-file-row">
            <td>
              {{#unless file.isEditing}}
                {{#if file.closed}}
                  <span class="stromx-status-indicator closed" data-toggle="tooltip" title="Opened"/>
                {{else}}
                  <span class="stromx-status-indicator opened" data-toggle="tooltip" title="Closed"/>
                {{/if}}
                {{#if file.closed}}
                  <a {{action "open" file}} class="stromx-file-name">{{file.model.name}}</a>
                {{else}}
                  {{#link-to 'stream' file.model.stream class="stromx-file-name"}}{{file.model.name}}{{/link-to}}
                {{/if}}
                <a {{action "edit" file}} class="stromx-rename-file">
                  <span class="glyphicon glyphicon-pencil pull-right stromx-margin-left" aria-hidden="true"></span>
                </a>
                <a {{bind-attr href=file.url}} download>
                  <span class="glyphicon glyphicon-download-alt pull-right stromx-margin-left" aria-hidden="true"></span>
                </a>
                {{#if file.closed}}
                  {{#link-to 'file.delete' file.model type="button" class="stromx-delete-file"}}
                    <span class="glyphicon glyphicon-trash pull-right" aria-hidden="true"></span>
                  {{/link-to}}
                {{/if}}
              {{else}}
                <form class="form-inline">
                  <div class="form-group">
                    <label class="sr-only" for="stromx-file-input">Name</label>
                    {{input value=file.model.name class="form-control" id="stromx-file-input"}}
                  </div>
                  <div class="form-group">
                    <button {{action "discardChanges"}} class="btn btn-default stromx-cancel">Cancel</button>
                    <button {{action "saveChanges"}} class="btn btn-primary stromx-save">Save</button>
                  </div>
                </form>
              {{/unless}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <div class="col-sm-2"></div>
</div>
