<ol class="breadcrumb">
  <li>{{#link-to "stream" model.stream}}{{model.stream.file.name}}{{/link-to}}</li>
  <li>{{model.name}}</li>
</ol>

<h3>
  Operator
  {{#link-to "operator.delete"}}
    <span class="glyphicon glyphicon-trash pull-right stromx-link-icon" aria-hidden="true"></span>
  {{/link-to}}
</h3>

<div class="stromx-center">
  {{#if isDeinitialized}}
    <button {{action "initialize"}} type="button" class="btn btn-default">Initialize</button>
  {{else}}
    <button {{action "deinitialize"}} type="button" class="btn btn-default">Deinitialize</button>
  {{/if}}
</div>

<table class="table stromx-margin-top">
  <tbody>
    <tr>
      <td>
        <header class="stromx-cell-title">Type</header>
        {{fullType}}
      </td>
    </tr>
    <tr>
      <td>
        <header class="stromx-cell-title">Version</header>
        {{model.version}}
      </td>
    </tr>
    <tr>
      <td>
        <header class="stromx-cell-title">Status</header>
        {{statusLabel}}
      </td>
    </tr>
    <tr>
      <td>
        <header class="stromx-cell-title">Name</header>
        {{#unless isEditingName}}
          {{model.name}}
          <a {{action "editName"}}>
            <span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span>
          </a>
        {{else}}
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="op-name">Name</label>
              {{input value=model.name class="form-control" id="op-name"}}
            </div>
            <div class="form-group">
              <button {{action "discardChanges"}} class="btn btn-default">Cancel</button>
              <button {{action "saveChanges"}} class="btn btn-primary">Save</button>
            </div>
          </form>
        {{/unless}}
      </td>
    </tr>
  </tbody>
</table>

{{#if hasInputs}}
  <table class="table">
    <thead>
      <tr>
        <th>Inputs</th>
      </tr>
    </thead>
    <tbody>
      {{#each input in model.inputs itemController="input"}}
        <tr>
          <td>
            <header class="stromx-cell-title">{{input.model.title}}</header>
            {{#unless input.isEditingObserver}}
              {{input.model.variant.title}}
              <a {{action "editObserver"}}><span class="glyphicon glyphicon-eye-open pull-right" aria-hidden="true"></span></a>
            {{else}}
              <div class="form-group">
                {{#if input.viewsExist}}
                  {{view "select" value=input.view content=input.views optionLabelPath="content.name" prompt="Choose view"}}
                  <button {{action "discardChanges"}} class="btn btn-default">Cancel</button>
                  {{#if input.observerExists}}
                    <button {{action "showObserver"}} class="btn btn-primary">Show</button>
                  {{else}}
                    <button {{action "addObserver"}} class="btn btn-primary">Add</button>
                  {{/if}}
                {{else}}
                  <button {{action "discardChanges"}} class="btn btn-default">Cancel</button>
                  {{#link-to "views.new" class="btn btn-primary"}}New view{{/link-to}}
                {{/if}}
              </div>
            {{/unless}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/if}}

{{#if hasOutputs}}
  <table class="table">
    <thead>
      <tr>
        <th>Outputs</th>
      </tr>
    </thead>
    <tbody>
      {{#each output in model.outputs}}
        <tr>
          <td>
            <header class="stromx-cell-title">{{output.title}}</header>
            {{output.variant.title}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/if}}

{{#if hasParameters}}
  <table class="table">
    <thead>
      <tr>
        <th>Parameter</th>
      </tr>
    </thead>
    <tbody>
      {{#each param in model.parameters itemController="parameter"}}
        <tr>
          <td>
            <header class="stromx-cell-title">{{param.model.title}}</header>
            {{#if param.isEditing}}
              <form class="form-inline">
                {{#if param.isBool}}
                  <div class="form-group">
                    <button {{action "discardChanges"}} class="btn btn-default">Cancel</button>
                    {{#if param.value}}
                      <button {{action "setFalse"}} class="btn btn-primary">Deactivate</button>
                    {{else}}
                      <button {{action "setTrue"}} class="btn btn-primary">Activate</button>
                    {{/if}}
                  </div>
                {{else if param.isTrigger}}
                  <div class="form-group">
                    <button {{action "discardChanges"}} class="btn btn-default">Cancel</button>
                    <button {{action "trigger"}} class="btn btn-primary">Send</button>
                  </div>
                {{else if param.isEnum}}
                  <div class="form-group">
                    {{view "select" value=param.model.value content=param.model.descriptions
                    optionValuePath="content.value" optionLabelPath="content.title"}}
                  </div>
                  <div class="form-group">
                    <button {{action "discardChanges"}} class="btn btn-default">Cancel</button>
                    <button {{action "saveChanges"}} class="btn btn-primary">Save</button>
                  </div>
                {{else if param.isFile}}
                  <div class="form-group">
                    <label for="upload-file">File</label>
                    {{view "upload-file" content=param.editValue id="upload-file"}}
                  </div>
                  <div class="form-group">
                    <button {{action "discardChanges"}} class="btn btn-default">Cancel</button>
                    <button {{action "saveChanges"}} class="btn btn-primary">Save</button>
                  </div>
                {{else}}
                  <div class="form-group">
                    {{input value=param.editValue class="form-control"}}
                  </div>
                  <div class="form-group">
                    <button {{action "discardChanges"}} class="btn btn-default">Cancel</button>
                    <button {{action "saveChanges"}} class="btn btn-primary">Save</button>
                  </div>
                {{/if}}
              </form>
            {{else if param.timedOut}}
              <em>Access timed out</em>
              <a {{action "reload"}}>
                <span class="glyphicon glyphicon-repeat pull-right stromx-space" aria-hidden="true"></span>
              </a>
            {{else if param.accessFailed}}
              <em>Access failed</em>
              <a {{action "reload"}}>
                <span class="glyphicon glyphicon-repeat pull-right stromx-space" aria-hidden="true"></span>
              </a>
            {{else if param.writable}}
              {{# if param.isMatrix}}
                {{#link-to "parameter.edit" param}}
                  <span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span>
                {{/link-to}}
              {{else}}
                <a {{action "editValue"}}>
                  <span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span>
                </a>
              {{/if}}
            {{/if}}
            {{param.displayValue}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/if}}

{{outlet}}

