<ol class="breadcrumb">
  <li>{{#link-to "stream" model.stream}}{{model.stream.file.name}}{{/link-to}}</li>
  <li>{{model.name}}</li>
</ol>

<h3>
  Operator
  {{#link-to "operator.delete"}}
    <span class="glyphicon glyphicon-trash pull-right stromx-link-icon" aria-hidden="true"></span>
  {{/link-to}}
</h3>

<div class="stromx-center">
  {{#if isDeinitialized}}
    <button {{action "initialize"}} type="button" class="btn btn-default stromx-initialize-operator">Initialize</button>
  {{else}}
    <button {{action "deinitialize"}} type="button" class="btn btn-default stromx-deinitialize-operator">Deinitialize</button>
  {{/if}}
</div>

<table class="table stromx-margin-top">
  <tbody>
    <tr>
      <td>
        <header class="stromx-cell-title">Type</header>
        {{fullType}}
      </td>
    </tr>
    <tr>
      <td>
        <header class="stromx-cell-title">Version</header>
        {{model.version}}
      </td>
    </tr>
    <tr>
      <td>
        <header class="stromx-cell-title">Status</header>
        {{statusLabel}}
      </td>
    </tr>
    <tr>
      <td>
        <header class="stromx-cell-title">Name</header>
        {{#unless isEditingName}}
          <span class="stromx-operator-name">{{model.name}}</span>
          <a {{action "editName"}} class="stromx-rename-operator">
            <span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span>
          </a>
        {{else}}
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="stromx-operator-name-input">Name</label>
              {{input value=model.name class="form-control" id="stromx-operator-name-input"}}
            </div>
            <div class="form-group">
              <button {{action "discardChanges"}} class="btn btn-default stromx-cancel">Cancel</button>
              <button {{action "saveChanges"}} class="btn btn-primary stromx-save">Save</button>
            </div>
          </form>
        {{/unless}}
      </td>
    </tr>
  </tbody>
</table>

{{#if hasInputs}}
  <table class="table">
    <thead>
      <tr>
        <th>Inputs</th>
      </tr>
    </thead>
    <tbody>
      {{#each input in model.inputs itemController="input"}}
        <tr class="stromx-input-row">
          <td>
            <header class="stromx-cell-title">{{input.model.title}}</header>
            {{#unless input.isEditingObserver}}
              {{input.model.variant.title}}
              <a {{action "editObserver"}}><span class="glyphicon glyphicon-eye-open pull-right stromx-edit-input-observer" aria-hidden="true"></span></a>
            {{else}}
              <div class="form-group">
                {{#if input.viewsExist}}
                  {{view "select" value=input.viewId content=input.views optionValuePath="content.id" optionLabelPath="content.name" prompt="Choose view" class="stromx-views-select"}}
                  <button {{action "discardChanges"}} class="btn btn-default stromx-cancel">Cancel</button>
                  {{#if input.view}}
                    {{#if input.observerExists}}
                      <button {{action "showObserver"}} class="btn btn-primary stromx-show-input-observer">Show</button>
                    {{else}}
                      <button {{action "addObserver"}} class="btn btn-primary stromx-add-input-observer">Add</button>
                    {{/if}}
                  {{/if}}
                {{else}}
                  <button {{action "discardChanges"}} class="btn btn-default stromx-cancel">Cancel</button>
                  {{#link-to "views.new" class="btn btn-primary stromx-new-view"}}New view{{/link-to}}
                {{/if}}
              </div>
            {{/unless}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/if}}

{{#if hasOutputs}}
  <table class="table">
    <thead>
      <tr>
        <th>Outputs</th>
      </tr>
    </thead>
    <tbody>
      {{#each output in model.outputs itemController="output"}}
        <tr class="stromx-output-row">
          <td>
            <header class="stromx-cell-title">{{output.model.title}}</header>
            {{#unless output.isEditingObserver}}
              {{output.model.variant.title}}
              <a {{action "editObserver"}}><span class="glyphicon glyphicon-eye-open pull-right stromx-edit-output-observer" aria-hidden="true"></span></a>
            {{else}}
              <div class="form-group">
                {{#if output.viewsExist}}
                  {{view "select" value=output.viewId content=output.views optionValuePath="content.id" optionLabelPath="content.name" prompt="Choose view" class="stromx-views-select"}}
                  <button {{action "discardChanges"}} class="btn btn-default stromx-cancel">Cancel</button>
                  {{#if output.view}}
                    {{#if output.observerExists}}
                      <button {{action "showObserver"}} class="btn btn-primary stromx-show-output-observer">Show</button>
                    {{else}}
                      <button {{action "addObserver"}} class="btn btn-primary stromx-add-output-observer">Add</button>
                    {{/if}}
                  {{/if}}
                {{else}}
                  <button {{action "discardChanges"}} class="btn btn-default stromx-cancel">Cancel</button>
                  {{#link-to "views.new" class="btn btn-primary stromx-new-view"}}New view{{/link-to}}
                {{/if}}
              </div>
            {{/unless}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/if}}

{{#if hasParameters}}
  <table class="table">
    <thead>
      <tr>
        <th>Parameter</th>
      </tr>
    </thead>
    <tbody>
      {{#each param in model.parameters}}
        <tr class="stromx-parameter-row">
          {{x-parameter model=param}}
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/if}}

{{outlet}}

