{{outlet}}

<table class="table">
  <thead>
    <tr>
      <th>Property</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Type
      </td>
      <td>
        {{fullType}}
      </td>
    </tr>
    <tr>
      <td>
        Version
      </td>
      <td>
        {{version}}
      </td>
    </tr>
    <tr>
      <td>
        Status
      </td>
      <td>
        {{statusLabel}}
      </td>
    </tr>
    <tr>
      <td>
        Name
      </td>
      <td>
        {{#if isEditingName}}
          {{input value=name}}
          <button type="button" {{action "saveName"}} class="btn btn-default btn-xs">Save</button>
        {{else}}
          {{name}}
          <button type="button" {{action "editName"}} class="btn btn-default btn-xs">Edit</button>
        {{/if}}
      </td>
    </tr>
  </tr>
    {{#each param in parameters itemController="parameter"}}
      <tr>
        <td>
          {{param.title}}
        </td>
        <td>
          {{#if param.isEditing}}
            {{#if param.isEnum}}
              {{view "select" value=param.value content=param.descriptions optionValuePath="content.value"
                optionLabelPath="content.title" disabled=readOnly}}
            {{else}}
              {{input value=param.editValue}}
            {{/if}}
            <button type="button" {{action "saveValue" param}} class="btn btn-default btn-xs">Save</button>
          {{/if}}
          {{#if param.timedOut}}
            <em>Access timed out</em>
            <button type="button" {{action "reload" param}} class="btn btn-default btn-xs">Retry</button>
          {{/if}}
          {{#if param.accessFailed}}
            <em>Access failed</em>
            <button type="button" {{action "reload" param}} class="btn btn-default btn-xs">Retry</button>
          {{/if}}
          {{#if param.isTrigger}}
            <button type="button" {{action "trigger" param}} class="btn btn-default btn-xs">Trigger</button>
          {{/if}}
          {{#if param.isBool}}
            {{input type="checkbox" checked=param.boolValue disabled=param.readOnly}}
          {{/if}}
          {{param.displayValue}}
          {{#if param.editable}}
            {{#unless param.isEditing}}
              <button type="button" {{action "editValue" param}} class="btn btn-default btn-xs">Edit</button>
            {{/unless}}
          {{/if}}
        </td>
      </tr>
    </tr>
    {{/each}}
  </tbody>
</table>
