<ol class="breadcrumb">
  <li>{{#link-to "stream" stream.model}}{{stream.model.file.name}}{{/link-to}}</li>
  <li>{{#link-to "view" model.view}}{{model.view.name}}{{/link-to}}</li>
  <li>{{model.title}}</li>
</ol>

<h3>
  Output observer
  {{#link-to "outputObserver.delete"}}
    <span class="glyphicon glyphicon-trash pull-right stromx-link-icon" aria-hidden="true"></span>
  {{/link-to}}
</h3>

{{x-observer model=model}}

{{outlet}}
