<h3>Parameter observer</h3>

<table class="table">
  <tbody>
    <tr>
      <td>
        <header class="stromx-cell-title">Title</header>
        {{title}}
      </td>
    </tr>
    <tr>
      <td>
        <header class="stromx-cell-title">View</header>
        {{#link-to "view" observerView}}{{observerView.name}}{{/link-to}}
      </td>
    </tr>
    <tr>
      <td>
        <header class="stromx-cell-title">Visualization</header>
        {{#unless isEditingVisualization}}
          {{visualizationLabel}}    
          <a {{action "editVisualization"}}>
            <span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span>
          </a>
        {{else}}
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="observer-visualization">Name</label>{{view "select" value=visualization content=visualizations optionValuePath="content.value" optionLabelPath="content.label" id="observer-visualization"}}
            </div>
            <div class="form-group">
              <button {{action "discardChanges"}} class="btn btn-default">Cancel</button>
              <button {{action "saveChanges"}} class="btn btn-primary">Save</button>
            </div>
          </form>
        {{/unless}}
      </td>
    </tr>
    <tr>
      <td>
        <header class="stromx-cell-title">Color</header>
        {{#color-box color=properties.color}}{{/color-box}}
        {{#unless isEditingColor}}
          <a {{action "editColor"}}>
            <span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span>
          </a>
        {{else}}
          <form class="form-inline">
            {{#color-chooser choose="setColor"}}{{/color-chooser}}
            <div class="form-group">
              <button {{action "discardChanges"}} class="btn btn-default">Cancel</button>
              <button {{action "saveChanges"}} class="btn btn-primary">Save</button>
            </div>
          </form>
        {{/unless}}
      </td>
    </tr>
  </tbody>
</table>

{{outlet}}