<form class="form-inline stromx-margin-top ">
  <div class="btn-group" role="group">
    {{#each thread in threads itemController="thread"}}
      {{#link-to "thread" thread class="btn btn-default"}}
        <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
        {{thread.name}}
      {{/link-to}}
    {{/each}}
  </div>

  <div class="btn-group" role="group">
    {{#each view in views itemController="view"}}
      {{#link-to "view" view class="btn btn-default"}}
        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
        {{view.name}}
      {{/link-to}}
    {{/each}}
  </div>
</form>

<div class="stromx-stream-view stromx-margin-top panel panel-default">
  <form class="form-inline stromx-svg-buttons">
    <div class="btn-group" role="group">
      {{#link-to "operators.new" class="btn btn-default"}}New operator{{/link-to}}
      {{#link-to "threads.new" class="btn btn-default"}}New thread{{/link-to}}
      {{#link-to "views.new" class="btn btn-default"}}New view{{/link-to}}
    </div>
  </form>
  <svg width="1280" height="1024" class="stromx-stream-svg" viewBox="0 0 1280 1024">
    <defs>
      <g id="arrows" transform="scale(5)" class="stromx-svg-arrows">
        <path d="M-1.5,0L-2.0,-1.0L-1.0,-1.0L-0.5,0.0L-1.0,1.0L-2.0,1.0Z"/>
        <path d="M0.5,0L0.0,-1.0L1.0,-1.0L1.5,0.0L1.0,1.0L0.0,1.0Z"/>
      </g>
      <pattern id="grid" width="25" height="25" patternUnits="userSpaceOnUse">
        <path d="M25,0L25,25L0,25" class="stromx-svg-grid"/>
      </pattern>
    </defs>
    <rect width="100%" height="100%" {{bind-attr fill=patternUri}}/>
    {{#each op in operators itemController="operator-svg"}}
      {{#svg-transform transform=op.transform}}
        {{#link-to "operator.index" op}}
          {{#svg-drag dragStart="dragStart" dragMove="dragMove" dragEnd="dragEnd"}}
            <rect width=50 height=50 rx=5 ry=5 class="stromx-svg-operator-rect"/>
            <text x="25" y="65" class="stromx-svg-operator-name">{{op.name}}</text>
          {{/svg-drag}}
        {{/link-to}}
        {{#each input in op.inputs itemController="input-svg"}}
          {{#svg-drag dragStart="dragStart" dragMove="dragMove" dragEnd="dragEnd" enter="enter" leave="leave"}}
            <title>{{input.title}}</title>
            <rect {{bind-attr x=input.x}} {{bind-attr y=input.y}} width=10 height=10 class="stromx-svg-connector-rect"/>
          {{/svg-drag}}
          {{#if input.isDraggingConnection}}
            <line {{bind-attr x1=input.x1}} {{bind-attr y1=input.y1}} {{bind-attr x2=input.x2}} {{bind-attr y2=input.y2}} {{bind-attr stroke-width=input.strokeWidth}} class="stromx-svg-drag-line"/>
          {{/if}}
        {{/each}}
        {{#each output in op.outputs itemController="output-svg"}}
          {{#svg-drag dragStart="dragStart" dragMove="dragMove" dragEnd="dragEnd" enter="enter" leave="leave"}}
            <title>{{output.title}}</title>
            <rect {{bind-attr x=output.x}} {{bind-attr y=output.y}} width=10 height=10 class="stromx-svg-connector-rect"/>
          {{/svg-drag}}
          {{#if output.isDraggingConnection}}
            <line {{bind-attr x1=output.x1}} {{bind-attr y1=output.y1}} {{bind-attr x2=output.x2}} {{bind-attr y2=output.y2}} {{bind-attr stroke-width=output.strokeWidth}} class="stromx-svg-drag-line"/>
          {{/if}}
        {{/each}}
      {{/svg-transform}}
    {{/each}}

    {{#each connection in connections itemController="connection-svg"}}
      {{#link-to "connection.index" connection}}
        <path {{bind-attr d=connection.path}} {{bind-attr stroke=connection.color}} class="stromx-svg-connection-path"/>
        {{#if connection.displayStartArrow}}
          <use id="startArrows" xlink:href="#arrows" {{bind-attr transform=connection.startArrowTransform}}/>
        {{/if}}
        {{#if connection.displayCenterArrow}}
          <use id="centerArrows" xlink:href="#arrows" {{bind-attr transform=connection.centerArrowTransform}}/>
        {{/if}}
        {{#if connection.displayEndArrow}}
          <use id="endArrows" xlink:href="#arrows" {{bind-attr transform=connection.endArrowTransform}}/>
        {{/if}}
      {{/link-to}}
    {{/each}}
  </svg>
</div>




