<h1>Stream</h1>

<div class="stromx-center-buttons">
  {{#if active}}
    {{#if paused}}
      <div class="btn-group">
        <button type="button" {{action "resume" }} class="btn btn-default">Resume</button>
        <button type="button" {{action "stop"}} class="btn btn-default">Stop</button>
      </div>
    {{else}}
      <div class="btn-group">
        <button type="button" {{action "pause"}} class="btn btn-default">Pause</button>
        <button type="button" {{action "stop"}} class="btn btn-default">Stop</button>
      </div>
    {{/if}}
  {{else}}
    <div class="btn-group">
      <button type="button" {{action "start"}} class="btn btn-default">Start</button>
      <button type="button" {{action "save"}} class="btn btn-default close-button">Save</button>
      <button type="button" {{action "close"}} class="btn btn-default close-button">Close</button>
    </div>
  {{/if}}
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        {{outlet}}
      </div>
    </div>
  </div>

  <div class="col-sm-8">
    <ul class="nav nav-tabs">
      <li class="active" role="presentation"><a {{action "displayStream"}}>Stream</a></li>
      {{#each view in views}}
        <li role="presentation"><a {{action "displayView" view}}>{{view.name}}</a></li>
      {{/each}}
    </ul>
    {{outlet "display"}}
  </div>
</div>
  




