{{#bs-navbar as |navbar|}}
  <div class="navbar-header">
    {{navbar.toggle}}

    <a class="navbar-brand" href="http://www.stromx.org">
      <img alt="stromx-logo" src="/assets/logo.png">
    </a>
  </div>
  {{#navbar.content}}
    {{#navbar.nav as |nav|}}
      {{#nav.item}}
        {{#nav.link-to "files"}}Files{{/nav.link-to}}
      {{/nav.item}}
    {{/navbar.nav}}
    <form class="navbar-form navbar-left">
      <button {{action "save"}} class="btn btn-default stromx-save-stream">
        <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
        Save
      </button>
      {{#if model.active}}
        {{#if model.paused}}
          <button {{action "resume"}} class="btn btn-default stromx-resume-stream">
            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            Resume
          </button>
        {{else}}
          <button {{action "pause"}} class="btn btn-default stromx-pause-stream">
            <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
            Pause
          </button>
        {{/if}}
        <button {{action "stop"}} class="btn btn-default stromx-stop-stream">
          <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
          Stop
        </button>
      {{else}}
        <button {{action "start"}} class="btn btn-default stromx-start-stream">
          <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
          Start
        </button>
        {{#link-to "stream.close" class="btn btn-default stromx-close-stream"}}
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          Close
        {{/link-to}}
      {{/if}}
    </form>

    <p class="navbar-text navbar-right"><a href="auth/logout" class="navbar-link">Log out</a></p>
  {{/navbar.content}}
{{/bs-navbar}}

<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        {{outlet}}
      </div>
    </div>
  </div>

  <div class="col-sm-8">
    <ul class="nav nav-tabs stromx-display-list">
      <li class="{{if isVisible 'active'}}" role="presentation">
          {{#link-to (query-params view=null) class="stromx-display-stream"}}Stream{{/link-to}}
      </li>
      {{#each model.views key="@index" as |item|}}
        <li class="{{is-active item.id this.view}}" role="presentation">
          {{#link-to (query-params view=item.id) class="stromx-display-view"}}{{item.name}}{{/link-to}}
        </li>
      {{/each}}

      <div class="pull-right stromx-nav-div">
        {{#link-to "views.new" id="new-view" class="stromx-new-view"}}New view{{/link-to}}
      </div>
    </ul>

    {{#if isVisible}}
      {{x-stream-details model=model addConnection="addConnection"}}
    {{else}}
      {{x-view-details model=viewModel pushValue="pushConnectorValue"}}
    {{/if}}
  </div>
</div>
