<h1>Stream</h1>

<div class="stromx-center-buttons">
  {{#if active}}
    {{#if paused}}
      <div class="btn-group">
        <button type="button" {{action "resume" }} class="btn btn-default">Resume</button>
        <button type="button" {{action "stop"}} class="btn btn-default">Stop</button>
      </div>
    {{else}}
      <div class="btn-group">
        <button type="button" {{action "pause"}} class="btn btn-default">Pause</button>
        <button type="button" {{action "stop"}} class="btn btn-default">Stop</button>
      </div>
    {{/if}}
  {{else}}
    <div class="btn-group">
      <button type="button" {{action "start"}} class="btn btn-default">Start</button>
      <button type="button" {{action "close"}} class="btn btn-default close-button">Close</button>
    </div>
  {{/if}}
</div>

<div class="stromx-center-buttons">
  <div class="btn-group">
    {{#link-to 'stream.newOperator' type="button" class="btn btn-default"}}New Operator{{/link-to}}
    {{#link-to 'stream.newThread' type="button" class="btn btn-default"}}New Thread{{/link-to}}
    {{#link-to 'stream.newView' type="button" class="btn btn-default"}}New View{{/link-to}}
  </div>
</div>

{{outlet}}

<div class="stromx-stream-view panel panel-default">
  <svg width="1280" height="1024" id="stream-svg" viewBox="0 0 1280 1024">
    <defs>
      <g id="arrows" transform="scale(5)" class="stromx-svg-arrows">
        <path d="M-1.5,0L-2.0,-1.0L-1.0,-1.0L-0.5,0.0L-1.0,1.0L-2.0,1.0Z"/>
        <path d="M0.5,0L0.0,-1.0L1.0,-1.0L1.5,0.0L1.0,1.0L0.0,1.0Z"/>
      </g>
      <pattern id="grid" width="25" height="25" patternUnits="userSpaceOnUse">
        <path d="M25,0L25,25L0,25" class="stromx-svg-grid"/>
      </pattern>
    </defs>
    <rect width="100%" height="100%" {{bind-attr fill=patternUri}}/>
    {{#with this as stream}}
      {{#each operators itemController="operator"}}
        {{#svg-transform transform=transform}}
          {{#svg-drag dragStart="dragStart" dragMove="dragMove" dragEnd="dragEnd"}}
            <rect width=50 height=50 rx=5 ry=5 class="stromx-svg-operator-rect"/>
          {{/svg-drag}}
          {{#svg-click mouseClick="showMenu"}}
            <text x="25" y="65" class="stromx-svg-operator-name">{{name}}</text>
          {{/svg-click}}
          {{#each inputs itemController="input"}}
            {{#svg-drag dragStart="dragStart" dragMove="dragMove" dragEnd="dragEnd" enter="enter" leave="leave"}}
              <rect {{bind-attr x=x}} {{bind-attr y=y}} width=10 height=10 class="stromx-svg-connector-rect"/>
            {{/svg-drag}}
            {{#if isDraggingConnection}}
              <line {{bind-attr x1=x1}} {{bind-attr y1=y1}} {{bind-attr x2=x2}} {{bind-attr y2=y2}} {{bind-attr stroke-width=strokeWidth}} class="stromx-svg-drag-line"/>
            {{/if}}
          {{/each}}
          {{#each outputs itemController="output"}}
            {{#svg-drag dragStart="dragStart" dragMove="dragMove" dragEnd="dragEnd" enter="enter" leave="leave"}}
              <rect {{bind-attr x=x}} {{bind-attr y=y}} width=10 height=10 class="stromx-svg-connector-rect"/>
            {{/svg-drag}}
            {{#if isDraggingConnection}}
              <line {{bind-attr x1=x1}} {{bind-attr y1=y1}} {{bind-attr x2=x2}} {{bind-attr y2=y2}} {{bind-attr stroke-width=strokeWidth}} class="stromx-svg-drag-line"/>
            {{/if}}
          {{/each}}
        {{/svg-transform}}
      {{/each}}

      {{#each connections itemController="connection"}}
        {{#svg-click mouseClick="showMenu"}}
          <path {{bind-attr d=path}} {{bind-attr stroke=color}} class="stromx-svg-connection-path"/>
          {{#if displayStartArrow}}
            <use id="startArrows" {{bind-attr xlink:href=stream.arrowsUri}} {{bind-attr transform=startArrowTransform}}/>
          {{/if}}
          {{#if displayCenterArrow}}
            <use id="centerArrows" {{bind-attr xlink:href=stream.arrowsUri}} {{bind-attr transform=centerArrowTransform}}/>
          {{/if}}
          {{#if displayEndArrow}}
            <use id="endArrows" {{bind-attr xlink:href=stream.arrowsUri}} {{bind-attr transform=endArrowTransform}}/>
          {{/if}}
        {{/svg-click}}
      {{/each}}
    {{/with}}
  </svg>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Operator</th>
      <th>Type</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each operators itemController="operator"}}
      <tr>
        <td>
          {{name}}
        </td>
        <td>
          {{fullType}}
        </td>
        <td>
          {{#link-to 'operator' this type="button" class="btn btn-default btn-xs"}}Show{{/link-to}}
        </td>
      </tr>
    </tr>
    {{/each}}
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th>Thread</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each threads itemController="thread"}}
      <tr>
        <td>
          {{#if isEditingName}}
            {{input value=name}}
          {{else}}
            {{name}}
          {{/if}}
        </td>
        <td>
          {{#if isEditingName}}
            <button type="button" {{action "saveName"}} class="btn btn-default btn-xs">Save</button>
          {{else}}
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                Action <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a {{action "rename"}}>Rename</a></li>
                <li><a {{action "showModal" "removeThread" this}}>Remove</a></li>
              </ul>
            </div>
          {{/if}}
        </td>
      </tr>
    </tr>
    {{/each}}
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th>View</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each views itemController="view"}}
      <tr>
        <td>
          {{#if isEditingName}}
            {{input value=name}}
          {{else}}
            {{name}}
          {{/if}}
        </td>
        <td>
          {{#if isEditingName}}
            <button type="button" {{action "saveName"}} class="btn btn-default btn-xs">Save</button>
          {{else}}
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                Action <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li>{{#link-to "view" this}}Show{{/link-to}}</li>
                <li><a {{action "rename"}}>Rename</a></li>
                <li><a {{action "showModal" "removeView" this}}>Remove</a></li>
              </ul>
            </div>
          {{/if}}
        </td>
      </tr>
    </tr>
    {{/each}}
  </tbody>
</table>
