<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://www.stromx.org">
        <img alt="stromx-logo" src="assets/logo.png">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Files</a></li>
        {{#if model.active}}
          {{#if model.paused}}
            <li><a {{action "resume" }}>Resume</a></li>
            <li><a {{action "stop"}}>Stop</a></li>
          {{else}}
            <li><a {{action "pause"}}>Pause</a></li>
            <li><a {{action "stop"}}>Stop</a></li>
          {{/if}}
        {{else}}
          <li><a {{action "start"}}>Start</a></li>
          <li><a {{action "save"}}>Save</a></li>
          <li>{{#link-to "stream.close" class="stromx-close-stream"}}Close{{/link-to}}</li>
        {{/if}}
      </ul>
      <p class="navbar-text navbar-right"><a href="auth/logout" class="navbar-link">Log out</a></p>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="row">
  <div class="col-sm-4">

    <div class="panel panel-default">
      <div class="panel-body">
        {{outlet}}
      </div>
    </div>
  </div>

  <div class="col-sm-8">
    <ul class="nav nav-tabs stromx-nav-tabs">
      <li {{bind-attr class="isVisible:active"}} role="presentation"><a {{action "display"}}>Stream</a></li>
      {{#each view in model.views itemController="view-details"}}
        <li {{bind-attr class="view.isVisible:active"}} role="presentation"><a {{action "display"}}>{{view.model.name}}</a></li>
      {{/each}}
    </ul>
    {{outlet "display"}}
  </div>
</div>





