<h1>Stream</h1>

<div class="stromx-center-buttons">
  {{#if active}}
    {{#if paused}}
      <div class="btn-group">
        {{#link-to 'stream.newView' type="button" class="btn btn-default"}}New View{{/link-to}}
        <button type="button" {{action "resume" }} class="btn btn-default">Resume</button>
        <button type="button" {{action "stop"}} class="btn btn-default">Stop</button>
      </div>
    {{else}}
      <div class="btn-group">
        {{#link-to 'stream.newView' type="button" class="btn btn-default"}}New View{{/link-to}}
        <button type="button" {{action "pause"}} class="btn btn-default">Pause</button>
        <button type="button" {{action "stop"}} class="btn btn-default">Stop</button>
      </div>
    {{/if}}
  {{else}}
    <div class="btn-group">
      {{#link-to 'stream.newView' type="button" class="btn btn-default"}}New View{{/link-to}}
      <button type="button" {{action "start"}} class="btn btn-default">Start</button>
      <button type="button" {{action "close"}} class="btn btn-default">Close</button>
    </div>
  {{/if}}
</div>

{{outlet}}

<div class="stromx-stream-view panel panel-default">
  <svg width="1280" height="1024" id="stream-svg">
  </svg>
</div>

{{#each operators itemController="operator"}}
  {{scene-operator operator=this}}
{{/each}}

{{#each connections itemController="connection"}}
  {{scene-connection connection=this}}
{{/each}}

<table class="table">
  <thead>
    <tr>
      <th>Operator</th>
      <th>Type</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each operators itemController="operator"}}
      <tr>
        <td>
          {{name}}
        </td>
        <td>
          {{fullType}}
        </td>
        <td>
          {{#link-to 'operator' this type="button" class="btn btn-default btn-xs"}}Show{{/link-to}}
        </td>
      </tr>
    </tr>
    {{/each}}
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th>View</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each views itemController="view"}}
      <tr>
        <td>
          {{#if isEditingName}}
            {{input value=name}}
          {{else}}
            {{name}}
          {{/if}}
        </td>
        <td>
          {{#if isEditingName}}
            <button type="button" {{action "saveName"}} class="btn btn-default btn-xs">Save</button>
          {{else}}
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                Action <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li>{{#link-to 'view' this}}Show{{/link-to}}</li>
                <li><a {{action "rename"}}>Rename</a></li>
                <li><a {{action "showModal" "removeView" this}}>Remove</a></li>
              </ul>
            </div>
          {{/if}}
        </td>
      </tr>
    </tr>
    {{/each}}
  </tbody>
</table>
