<h1>View</h1>

<div class="stromx-center-buttons">
  <div class="btn-group">
    {{#link-to 'view.newObserver' type="button" class="btn btn-default"}}New Observer{{/link-to}}
  </div>
</div>

{{outlet}}

<div class="stromx-view-view panel panel-default">
  <svg width="1280" height="1024" id="view-svg">
  </svg>
</div>

{{#each parameterObservers itemController="parameterObserver"}}
{{/each}}

{{#each connectorObservers itemController="connectorObserver"}}
  {{view-connector-observer connectorObserver=this value=value.value}}
{{/each}}

<table class="table">
  <thead>
    <tr>
      <th>
        Observer
      </th>
      <th>
        Visualization
      </th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each sortedObservers itemController="observer"}}
    <tr>
      <td>
        {{title}}
      </td>
      <td>
        {{visualizationLabel}}
      </td>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
            Action <span class="caret"></span>
          </button>
            <ul class="dropdown-menu" role="menu">
              <li><a {{action "moveUp"}}>Up</a></li>
              <li><a {{action "moveDown"}}>Down</a></li>
              <li><a {{action "remove"}}>Remove</a></li>
            </ul>
          </div>
     </td>
    </tr>
    {{/each}}
  </tbody>
</table>
