<h1>View</h1>

<div class="stromx-center-buttons">
  <div class="btn-group">
    {{#link-to 'view.newObserver' type="button" class="btn btn-default"}}New Observer{{/link-to}}
  </div>
</div>

{{outlet}}

<div class="stromx-view-view panel panel-default">
  <svg width="1280" height="1024" id="view-svg">
  {{#each svgObservers itemController="observer"}}
    {{#if svgImage}}
      <image {{bind-attr width=imageWidth}} {{bind-attr height=imageHeight}} {{bind-attr xlink:href=imageData}}/>
    {{/if}}
    {{#if svgText}}
      <text x="10" y="20" {{bind-attr fill=color}}>{{textData}}</text>
    {{/if}}
    {{#if svgLines}}
      {{#with this as observer}}
        {{#each linesData itemController="view.line"}}
          <line {{bind-attr x1=x1}} {{bind-attr y1=y1}} {{bind-attr x2=x2}} {{bind-attr y2=y2}} {{bind-attr stroke=observer.color}}/>
        {{/each}}
      {{/with}}
    {{/if}}
  {{/each}}
  </svg>
</div>

<table class="table">
  <thead>
    <tr>
      <th>
        Observer
      </th>
      <th>
        Visualization
      </th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each listObservers itemController="observer"}}
    <tr>
      <td>
        {{title}}
      </td>
      <td>
        {{visualizationLabel}}
      </td>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
            Action <span class="caret"></span>
          </button>
            <ul class="dropdown-menu" role="menu">
              <li><a {{action "moveUp"}}>Up</a></li>
              <li><a {{action "moveDown"}}>Down</a></li>
              <li><a {{action "remove"}}>Remove</a></li>
            </ul>
          </div>
     </td>
    </tr>
    {{/each}}
  </tbody>
</table>
