<div class="stromx-view-view stromx-margin-top panel panel-default">
  <form class="form-inline stromx-svg-buttons">
    <div class="btn-group" role="group">
      <a {{action "minify"}} class="btn btn-default">-</a>
      <a {{action "reset"}} class="btn btn-default">100%</a>
      <a {{action "magnify"}} class="btn btn-default">+</a>
    </div>
  </form>
  <svg {{bind-attr width=width}} {{bind-attr height=height}} viewBox="0 0 1280 1024">
  {{#each observer in svgObservers itemController="observer-svg"}}
    {{#if observer.svgImage}}
      <image {{bind-attr width=observer.imageWidth}} {{bind-attr height=observer.imageHeight}}
      {{bind-attr xlink:href=observer.imageData}}/>
    {{/if}}
    {{#if observer.svgText}}
      <text x="10" y="20" {{bind-attr fill=observer.color}}>{{observer.textData}}</text>
    {{/if}}
    {{#if observer.svgLines}}
      {{#each line in observer.linesData itemController="view.line"}}
        <line {{bind-attr x1=line.x1}} {{bind-attr y1=line.y1}} {{bind-attr x2=line.x2}} {{bind-attr y2=line.y2}} {{bind-attr stroke=observer.color}}/>
      {{/each}}
    {{/if}}
    {{#if observer.svgPolygons}}
      {{#each polygon in observer.polygonsData itemController="view.polygon"}}
        <polygon {{bind-attr points=polygon.points}} {{bind-attr stroke=observer.color }} fill="none"/>
      {{/each}}
    {{/if}}
  {{/each}}
  </svg>
</div>
