<div class="stromx-view-view panel panel-default stromx-margin-top">
  <form class="form-inline stromx-svg-buttons">
    <div class="btn-group" role="group">
      <a {{action "minify"}} class="btn btn-default">-</a>
      <a {{action "reset"}} class="btn btn-default">100%</a>
      <a {{action "magnify"}} class="btn btn-default">+</a>
    </div>
  </form>
  <svg {{bind-attr width=width}} {{bind-attr height=height}} viewBox="0 0 1280 1024">
  {{#each observer in svgObservers itemController="observer"}}
    {{#if observer.model.value}}
      {{svg-value value=observer.model.value observer=observer.model}}
    {{/if}}
  {{/each}}
  </svg>
</div>

<table class="table">
  <thead>
    <tr>
      <th>
        Observer values
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each observer in htmlObservers itemController="observer"}}
      {{#if observer.model.value}}
        {{html-value value=observer.model.value observer=observer.model}}
      {{/if}}
    {{/each}}
  </tbody>
</table>
