<table class="table">
  <tbody>
    <tr>
      <td>
        <header class="stromx-cell-title">Title</header>
        {{model.title}}
      </td>
    </tr>
    <tr>
      <td>
        <header class="stromx-cell-title">View</header>
        {{#link-to "view" model.view}}{{model.view.name}}{{/link-to}}
      </td>
    </tr>
    <tr>
      <td>
        <header class="stromx-cell-title">Visualization</header>
        {{#unless isEditingVisualization}}
          <span class="stromx-visualization-label">{{visualizationLabel}}</span>
          <a {{action "editVisualization"}} class="stromx-edit-visualization">
            <span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span>
          </a>
        {{else}}
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="stromx-observer-visualization">Name</label>{{view "select" value=model.visualization content=visualizations optionValuePath="content.value" optionLabelPath="content.label" id="stromx-visualization-select"}}
            </div>
            <div class="form-group">
              <button {{action "discardChanges"}} class="btn btn-default stromx-cancel">Cancel</button>
              <button {{action "saveChanges"}} class="btn btn-primary stromx-save">Save</button>
            </div>
          </form>
        {{/unless}}
      </td>
    </tr>
    <tr>
      <td>
        <header class="stromx-cell-title">Color</header>
        {{#unless isEditingColor}}
          {{color-box color=model.properties.color}}
          <a {{action "editColor"}} class="stromx-edit-color">
            <span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span>
          </a>
        {{else}}
          {{color-box color=color}}
          <form class="form-inline">
            {{#color-chooser choose="setColor"}}{{/color-chooser}}
            <div class="form-group">
              <button {{action "discardChanges"}} class="btn btn-default stromx-cancel">Cancel</button>
              <button {{action "saveChanges"}} class="btn btn-primary stromx-save">Save</button>
            </div>
          </form>
        {{/unless}}
      </td>
    </tr>
  </tbody>
</table>
