<header class="stromx-cell-title">{{model.title}}</header>
{{#unless isEditingObserver}}
  {{model.variant.title}}
  <a {{action "editObserver"}}><span class="glyphicon glyphicon-eye-open pull-right stromx-edit-output-observer" aria-hidden="true"></span></a>
{{else}}
  <div class="form-group">
    {{#if viewsExist}}
      <select onchange={{action (mut viewId) value="target.value"}} class="stromx-views-select">
        <option selected={{is-not viewId}}>Choose view</option>
        {{#each views key="@index" as |item|}}
          <option selected={{is-equal item.id viewId}} value={{item.id}}>{{item.name}}</option>
        {{/each}}
      </select>
      <button {{action "discardChanges"}} class="btn btn-default stromx-cancel">Cancel</button>
      {{#if viewId}}
        {{#if observerExists}}
          <button {{action "showObserver"}} class="btn btn-primary stromx-show-output-observer">Show</button>
        {{else}}
          <button {{action "addObserver"}} class="btn btn-primary stromx-add-output-observer">Add</button>
        {{/if}}
      {{/if}}
    {{else}}
      <button {{action "discardChanges"}} class="btn btn-default stromx-cancel">Cancel</button>
      {{#link-to "views.new" class="btn btn-primary stromx-new-view"}}New view{{/link-to}}
    {{/if}}
  </div>
{{/unless}}