<header class="stromx-cell-title">{{model.title}}</header>
{{#if isEditing}}
  <form class="form-inline">
    {{#if isBool}}
      <div class="form-group">
      <label>
        <input checked={{model.value}} onchange={{action (mut editValue) value="target.value"}} value="true" name="bool" type="radio" class="stromx-parameter-radio">True
      </label>
      <label>
        <input checked={{is-not model.value}} onchange={{action (mut editValue) value="target.value"}} value="false" name="bool" type="radio"class="stromx-parameter-radio">False
      </label>
      </div>
      <div class="form-group">
        <button {{action "discardChanges"}} class="btn btn-default stromx-cancel">Cancel</button>
        <button {{action "saveChanges"}} class="btn btn-primary stromx-save">Save</button>
      </div>
    {{else if isTrigger}}
      <div class="form-group">
        <button {{action "discardChanges"}} class="btn btn-default stromx-cancel">Cancel</button>
        <button {{action "trigger"}} class="btn btn-primary stromx-send-trigger">Send</button>
      </div>
    {{else if isEnum}}
      <div class="form-group">
        <select onchange={{action (mut editValue) value="target.value"}} class="stromx-parameter-select">
          {{#each model.descriptions key="@index" as |item|}}
            <option selected={{is-equal item.value editValue}} value={{item.value}}>{{item.title}}</option>
          {{/each}}
        </select>
      </div>
      <div class="form-group">
        <button {{action "discardChanges"}} class="btn btn-default stromx-cancel">Cancel</button>
        <button {{action "saveChanges"}} class="btn btn-primary stromx-save">Save</button>
      </div>
    {{else if isFile}}
      <div class="form-group">
        <label for="stromx-upload-file">File</label>
        {{x-upload-file value=fileName content=editValue id="stromx-upload-file"}}
      </div>
      <div class="form-group">
        <button {{action "discardChanges"}} class="btn btn-default stromx-cancel">Cancel</button>
        <button {{action "saveChanges"}} class="btn btn-primary stromx-save">Save</button>
      </div>
    {{else}}
      <div class="form-group">
        {{input value=editValue class="form-control stromx-parameter-input"}}
      </div>
      <div class="form-group">
        <button {{action "discardChanges"}} class="btn btn-default stromx-cancel">Cancel</button>
        <button {{action "saveChanges"}} class="btn btn-primary stromx-save">Save</button>
      </div>
    {{/if}}
  </form>
{{else}}
  {{#if timedOut}}
    <em>Access timed out</em>
  {{else if accessFailed}}
    <em>Access failed</em>
  {{/if}}
  {{#if offerReload}}
    <a {{action "reload"}} class="stromx-reload-parameter">
      <span class="glyphicon glyphicon-repeat pull-right stromx-space" aria-hidden="true"></span>
    </a>
  {{else if writable}}
    {{#if isMatrix}}
      {{#link-to "parameter.edit" model}}
        <span class="glyphicon glyphicon-pencil pull-right stromx-edit-parameter" aria-hidden="true"></span>
      {{/link-to}}
    {{else}}
      <a {{action "editValue"}}>
        <span class="glyphicon glyphicon-pencil pull-right stromx-margin-left stromx-edit-parameter" aria-hidden="true"></span>
      </a>
    {{/if}}
  {{/if}}
{{/if}}
{{#if offerDownload}}
  <a href={{url}}>
    <span class="stromx-parameter-value">{{displayValue}}</span>
  </a>
{{else}}
  <span class="stromx-parameter-value">{{displayValue}}</span>
{{/if}}
