<div class="btn-group stromx-margin-top" role="group">
  {{#link-to "view" model class="btn btn-default"}}Edit view{{/link-to}}
</div>

<div class="stromx-view-view panel panel-default stromx-margin-top">
  <form class="form-inline stromx-svg-buttons">
    <div class="btn-group" role="group">
      <a {{action "minify"}} class="btn btn-default">-</a>
      <a {{action "reset"}} class="btn btn-default">100%</a>
      <a {{action "magnify"}} class="btn btn-default">+</a>
    </div>
  </form>
  <svg width={{width}} height={{height}} viewBox="0 0 1280 1024">
  {{#each svgSortedObservers key="@index" as |observer|}}
    {{#if observer.value}}
      {{svg-value value=observer.value observer=observer}}
    {{/if}}
  {{/each}}
  </svg>
</div>

<table class="table">
  <thead>
    <tr>
      <th>
        Observer values
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each sortedObservers key="@index" as |observer|}}
      {{#if observer.value}}
        <tr>
          <td>
            <header class="stromx-cell-title">{{observer.title}}</header>
            {{html-value value=observer.value observer=observer}}
          </td>
        </tr>
      {{/if}}
    {{/each}}
  </tbody>
</table>
