<ol class="breadcrumb">
  <li>{{#link-to "stream.index"}}{{model.file.name}}{{/link-to}}</li>
  <li>New operator</li>
</ol>

<h3>
  New operator
</h3>

<div class="form-group">
  <label for="stromx-operator-package">Package</label>  
  <select onchange={{action (mut packageValue) value="target.value"}} id="stromx-operator-package">
    <option selected={{is-not packageValue}}>Select a package</option>
    {{#each packages key="@index" as |item|}}
      <option selected={{is-equal item.value packageValue}} value={{item.value}}>{{item.name}}</option>
    {{/each}}
  </select>
</div>
    
<div class="form-group">
  <label for="stromx-operator-type">Operator</label>  
  <select onchange={{action (mut operatorValue) value="target.value"}} id="stromx-operator-type">
    <option selected={{is-not operatorValue}}>Select an operator</option>
    {{#each selectedPackage.operators key="@index" as |item|}}
      <option selected={{is-equal item.value operatorValue}} value={{item.value}}>{{item.type}}</option>
    {{/each}}
  </select>
</div>

<div class="form-group">
  <label for="stromx-operator-name">Name</label>
  {{input value=name class="form-control" placeholder="Enter operator name" id="stromx-operator-name"}}
</div>

<div class="form-group">
  <button {{action "cancel"}} class="btn btn-default stromx-cancel" type="submit">Cancel</button>
  <button {{action "save"}} class="btn btn-primary stromx-save {{if saveIsDisabled 'disabled'}}" type="submit">Save</button>
</div>
