<ol class="breadcrumb">
  <li>{{#link-to "stream.index"}}{{model.file.name}}{{/link-to}}</li>
  <li>New operator</li>
</ol>

<h3>
  New operator
</h3>

<div class="form-group">
  <label for="stromx-operator-package">Package</label>
  {{view "select" value=packageValue content=packages optionValuePath="content.value" optionLabelPath="content.name" prompt="Select a package" id="stromx-operator-package"}}
</div>

<div class="form-group">
  <label for="stromx-operator-type">Operator</label>
  {{view "select" value=operatorValue content=selectedPackage.operators optionValuePath="content.value" optionLabelPath="content.type" prompt="Select an operator" id="stromx-operator-type"}}
</div>

<div class="form-group">
  <label for="stromx-operator-name">Name</label>
  {{input value=name class="form-control" placeholder="Enter operator name" id="stromx-operator-name"}}
</div>

<div class="form-group">
  <button {{action "cancel"}} class="btn btn-default stromx-cancel" type="submit">Cancel</button>
  <button {{action "save"}} class="btn btn-primary stromx-save {{if saveIsDisabled 'disabled'}}" type="submit">Save</button>
</div>
