<ol class="breadcrumb">
  <li>{{#link-to "stream.index"}}{{model.file.name}}{{/link-to}}</li>
  <li>New operator</li>
</ol>

<h3>
  New operator
</h3>

<div class="form-group">
  <label for="package">Package</label>
  {{view "select" value=selectedPackage content=packages optionLabelPath="content.name" prompt="Select a package" id="package"}}
</div>

<div class="form-group">
  <label for="type">Operator</label>
  {{view "select" value=selectedOperator content=selectedPackage.operators optionLabelPath="content.type" prompt="Select an operator" id="type"}}
</div>

<div class="form-group">
  <label for="name">Name</label>
  {{input value=name class="form-control" placeholder="Enter operator name" id="name"}}
</div>



<div class="form-group">
  <button {{action "cancel"}} class="btn btn-default" type="submit">Cancel</button>
  <button {{action "save"}} {{bind-attr class=":btn :btn-primary saveIsDisabled:disabled"}} type="submit">Save</button>
</div>
